{% extends 'layout.twig' %}    

{% block body %}

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="pull-right">
                <img src="/img/pizza.png" style="width:43%;padding-top:2em;"/>
            </div>
            <h1>Improve your pie...</h1>
            <h2>{{pizza.name}}</h2>
            <h3>{{pizza.description}}</h3>
        </div> 
    </div>

    <div class="row"> 
        <div class="col-lg-4 col-lg-offset-2">
            <h3>Current Toppings</h3>
            {% if pizza_toppings is not empty %}
                <ul>
            {% for pizza_topping in pizza_toppings %}
                <li>{{pizza_topping.name}}</li>
            {% endfor %}
                </ul>
            {% else %}
                <p class="warning">None.</p>
            {% endif %}
        </div>
        <div class="col-lg-4 col-lg-offset-1">
            <h3>Add Toppings</h3>
            
            <form id="addpizzatoppings">
                <input type="hidden" name="pizza" id="pizza" value="{{pizza.id}}"/>
                <fieldset class="form-group">
                  <label for="topping">Select a topping to add</label>
                  <select class="form-control" name="topping" id="topping">
                        {% for more_topping in more_toppings %}
                            {% if more_topping.name is not empty %}
                        <div class="checkbox">
                          <label>
                              <option value="{{more_topping.id}}">{{more_topping.name}}</option>
                          </label>
                        </div>
                          {% endif %}
                        {% endfor %}
                    </select>
                  </fieldset>
              </fieldset>
              <button type="submit" class="btn btn-primary">Add to {{pizza.name}}</button>
            </form>            
            
        </div>
    </div>
    <div class="row">
        <p>&nbsp;</p>
    </div>
    <div class="row">
        <div class="col-lg-1 col-lg-offset-8">
            <a class="btn btn-orange" href="/topping/new" role="button">Add Toppings</a>
        </div>
        <div class="col-lg-1 col-lg-offset-1">
            <a class="btn btn-orange" href="/pizza/list" role="button">List Pizzas</a>
        </div>
    </div>

<script type="text/javascript">
$(document).ready(function () {
  $('#addpizzatoppings').submit(function(event){
    event.preventDefault();
    
    var pizza_id = $('#pizza').val(); 
    var topping_id = $('#topping').val();
    
    if (typeof(topping_id) === 'undefined') {
        message = 'Hungry customers will want more than just dough and sauce. Pick some toppings.';
        BootstrapDialog.show({
            title: 'Whoops!',
            type: BootstrapDialog.TYPE_WARNING,
            message: message,
            buttons: [{
                label: 'My bad',
                action: function(dialog) {
                    dialog.close();
                }
            }]
        });
    } else {
        var data = {
            'topping_id' : topping_id,
            'pizza_id'   : pizza_id
        };
        var url = '/pizza/topping';
        var jqxhr = $.post( url, data, function(response) {
            //console.log(response);
          })
          .done(function(response) {
            //console.log(response);
            BootstrapDialog.show({
                title: 'Woohoo! ',
                type: BootstrapDialog.TYPE_SUCCESS,
                message: 'Your topping has been added to the pizza.',
                buttons: [{
                    label: 'Nice',
                    action: function(dialog) {
                        dialog.close();
                        window.location.href = window.location.href;
                    }
                }]
            });
          })
          .fail(function(response) {
            //console.log(response);
            BootstrapDialog.show({
                title: 'Dang It! '+response.statusText,
                type: BootstrapDialog.TYPE_WARNING,
                message: response.responseJSON.error,
                buttons: [{
                    label: 'Sigh',
                    action: function(dialog) {
                        dialog.close();
                    }
                }]
            });
          })
          .always(function() {
            //alert( "finished" );
        });
    }
  });
});
</script>

{% endblock %}
 